<div th:fragment="header">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h2 class="display-4 fw-normal">My Phonebook</h2>
        <p class="fs-5 text-muted">Add or search phonenumber</p>
        <p style="font-style: italic; color: red; font-size: 18px">
            This my test project on Spring boot. I'm only back-end
        developer and appearance is very simply...</p>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Home</a>
          <!--  <a class="p-2 text-dark" href="/blog">Blog</a>
            <a class="p-2 text-dark" href="/about">About us</a>-->
            <a class="p-2 text-dark" href="/add">Add record to PhoneBook</a>
            <!--<a class="p-2 text-dark" href="/logout">LOGOUT</a>-->
        </nav>
    </div>

</div>